<!DOCTYPE html>
<html lang="en">
<head>
  <title>Submit feedback</title>
  </head>
  <body background="forms.jpg">
  <div  align="center">
    <div style="margin-right: 67px; margin-top: 60px;"  ><h1 > Feedback Form </h1></div>
    
    <form>
    <table id="form" cellspacing="30" cellspacing="30">
    <tr>
        <td class="ft">Full name</td>
        <td ><input class="shortInput" id="name" type="text"></td>
    </tr>
    <tr>
        <td class="ft">Email</td>
        <td> <input class="shortInput" id="email" type="text"></td>
    </tr>
    <tr>
        <td class="ft">Place of Visit</td>
        <td><select class="shortInput">
          <option value="ooti">Ooty</option>
          <option value="munnar">Munnar</option>
          <option value="coorg">Coorg</option>
          <option value="coonoor">Coonoor</option>
          <option value="dehra">Dehradun</option>
          <option value="naini">Nainital</option>
          <option value="shimla">Shimla</option>
        </select></td>
    </tr>
    <tr>
        <td class="ft">Departure Date</td>
        <td><input class="shortInput" id="date" type="date"></td>
         </tr>
         <tr>
        <td class="ft" >Rate your experience</td>
        <td><input class="shortInput" id="rate" type="number" min="1" max="5"></td>
        </tr> 
         <tr>
        <td class="ft">Other details</td>
        <td><input class="shortInput" id="review" type="text" height="100" width="20"></td>
        </tr>
        
</table>

</form><br><br>
<div align="right" style="margin-right: 720px;"><input id="btn" type="submit" value="Submit" id="b" ></div>
</div>

</body>
</html>
    <!-- end column 2 contact form -->

    

 